.input-con {
  width: 100%;
  height: 95%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login-con {
  width: 300px;
  text-align: center;
}
.login-input {
  width: 80%;
  margin: 0 auto 15px;
}
.login-input input {
  width: 100%;
  padding: 0 8px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.4);
  height: 36px;
  -moz-border-radius: 5px;
       border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
.btn-register {
  cursor: pointer;
}
.btn-con {
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 18px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.btn {
  width: 36%;
  border: 1px solid #fff;
  -moz-border-radius: 3px;
       border-radius: 3px;
  color: #fff;
  font-size: 16px;
  padding: 5px;
}
.visitor {
  color: #fff;
  font-size: 16px;
}
.chatadd-con {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.chatadd-con li {
  margin-bottom: 10px;
}
label {
  color: #fff;
  float: left;
  width: 90px;
  font-size: 14px;
}
.input-chatadd {
  margin-left: 95px;
}
.input-tit {
  width: 100%;
  height: 30px;
  padding: 0 5px;
  font-size: 14px;
  border: 1px solid #fff;
  -moz-border-radius: 3px;
       border-radius: 3px;
  color: #fff;
}
.input-addr {
  width: 100%;
  border: 1px solid #fff;
}
.input-intro {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  -moz-border-radius: 3px;
       border-radius: 3px;
  color: #fff;
  font-size: 14px;
  padding: 5px;
}
.input-sub {
  text-align: center;
}
.input-sub button {
  border: 1px solid #fff;
  -moz-border-radius: 3px;
       border-radius: 3px;
  color: #fff;
  padding: 5px 20px;
  font-size: 16px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 13px;
  color: #54667A;
  font-family: '\5FAE\8F6F\96C5\9ED1', 'Verdana', 'Microsoft YaHei', 'Simsun';
  background-color: #fff;
  line-height: 24px;
  -webkit-text-size-adjust: none;
}
body,
html,
header,
div,
p,
span,
ul,
li,
ol,
dl,
dt,
dd,
input,
button,
textarea {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
  background: none;
}
fieldset,
img {
  border: none;
}
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
input,
select {
  vertical-align: middle;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ddd;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ddd;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ddd;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ddd;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: nowrap;
}
.bg {
  width: 100%;
  height: 100%;
  background: url(../images/3a0db407aa30f89baab486df70aecb03.png) no-repeat;
  background-attachment: fixed;
  -moz-background-size: 100%;
       background-size: 100%;
}
.bg-layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.header {
  width: 100%;
  padding: 15px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 15px;
}
#root {
  height: 100%;
}
.chat-layer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chat-layer.bg-layer {
  background-color: rgba(255, 255, 255, 0.5);
}
.chat-layer .chat-tit {
  position: relative;
  height: 54px;
  text-align: center;
  color: #333;
  font-size: 16px;
}
.chat-layer .chat-tit .chat-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
}
.chat-layer .chat-tit .chat-back::before {
  content: '';
  position: absolute;
  top: 21px;
  left: 11px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.chat-layer .chat-tit .chat-name {
  text-align: center;
}
.chat-layer .chat-tit .chat-name .chat-num {
  font-size: 8px;
  line-height: 10px;
}
.chat-layer .chat-room {
  padding: 0 10px;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
}
.chat-layer .chat-room .join {
  text-align: center;
  padding: 5px 0;
}
.chat-layer .chat-room .chat-bubble {
  margin-bottom: 5px;
}
.chat-layer .chat-room .chat-bubble .chat-head {
  margin-top: 12px;
  width: 43px;
  height: 43px;
  float: left;
  -moz-border-radius: 50%;
       border-radius: 50%;
  background-color: black;
  border: 1px solid red;
}
.chat-layer .chat-room .chat-bubble .chat-cont {
  margin-left: 55px;
}
.chat-layer .chat-room .chat-bubble .chat-msg {
  display: inline-block;
  padding: 7px 10px;
  max-width: 75%;
  background-color: #ff7f26;
  -moz-border-radius: 10px;
       border-radius: 10px;
  color: #333;
}
.chat-layer .chat-room .chat-bubble.myself {
  overflow: hidden;
}
.chat-layer .chat-room .chat-bubble.myself .chat-head {
  float: right;
}
.chat-layer .chat-room .chat-bubble.myself .chat-cont {
  margin-left: 0;
  margin-right: 55px;
}
.chat-layer .chat-room .chat-bubble.myself .chat-name {
  text-align: right;
}
.chat-layer .chat-room .chat-bubble.myself .chat-msg {
  float: right;
}
.chat-layer footer {
  width: 100%;
  height: 54px;
  padding-top: 5px;
  background-color: #ffffff;
}
.chat-layer footer .chat-input {
  margin: 0 8px;
  padding: 0 5px;
  min-height: 30px;
  max-height: 60px;
  overflow-x: scroll;
  -moz-border-radius: 3px;
       border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}
.chat-layer footer .chat-input input {
  outline: none;
  width: 100%;
}
.chat-layer footer .send-btn {
  margin: 0 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.chat-layer footer .send-btn .send-item {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.alert-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alert-layer .alert-container {
  max-width: 300px;
  width: 80%;
  background-color: #fff;
  -moz-border-radius: 5px;
       border-radius: 5px;
  text-align: center;
  overflow: hidden;
}
.alert-layer .alert-container .alert-tit {
  padding-top: 1em;
  font-size: 16px;
}
.alert-layer .alert-container .alert-content {
  padding: 0.5em 20px 0;
  margin-bottom: 0.6em;
}
.alert-layer .alert-container .alert-footer {
  border-top: 1px solid #d5d5d6;
  font-size: 15px;
  color: orange;
  padding: 10px 0;
}
.chats-layer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chats-layer .header.chats-header {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.chats-layer .header.chats-header .ipt-search {
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
       border-radius: 3px;
  height: 30px;
  padding: 0 8px;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
.chats-layer .header.chats-header .btn-search {
  width: 45px;
  height: 30px;
  -moz-border-radius: 3px;
       border-radius: 3px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 28px;
  margin-left: 5px;
}
.chats-layer .header.chats-header .add-chat {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
       border-radius: 50%;
  border: 2px solid #fff;
}
.chats-layer .header.chats-header .add-chat::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 10px;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.chats-layer .header.chats-header .add-chat::after {
  content: '';
  position: absolute;
  left: 10px;
  top: 3px;
  width: 2px;
  height: 16px;
  background-color: #fff;
}
.chats-layer .chats-sort {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}
.chats-layer .chats-sort .sort-tip {
  float: left;
}
.chats-layer .chats-sort .sort {
  overflow: hidden;
  width: 200px;
  margin-left: 75px;
}
.chats-layer .chats-sort .sort > li {
  margin-right: 20px;
  cursor: pointer;
}
.chats-layer .chat-list {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
  overflow-y: scroll;
}
.chats-layer .chat-list li {
  color: #fff;
  margin: 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}
.chats-layer .chat-list li:last-child {
  border-bottom: none;
}
.alert-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alert-layer .alert-container {
  max-width: 300px;
  width: 80%;
  -moz-border-radius: 5px;
       border-radius: 5px;
  text-align: center;
  overflow: hidden;
}
.alert-layer .alert-container .alert-tit {
  padding-top: 1em;
  font-size: 16px;
}
.alert-layer .alert-container .alert-content {
  padding: 0.5em 20px 0;
  margin-bottom: 0.6em;
}
.alert-layer .alert-container .alert-footer {
  border-top: 1px solid #d5d5d6;
  font-size: 15px;
  color: orange;
  padding: 10px 0;
}
.address {
  font-size: 14px;
}
.bg-layer.address {
  background-color: rgba(0, 0, 0, 0.5);
}
.city-list {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
.city-list .choice-city {
  padding: 10px 10px 0;
  color: #ff7e27;
  font-size: 16px;
}
.city-list li {
  color: #fff;
  margin: 0 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.city-list li a {
  display: block;
  padding: 10px 0;
}
